<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="container">
  <div class="c1">
<a class="navbar-brand" href="#">
<img src="./assets/Group 265.png" alt="" width="100px" height="70px">
</a>
</div>
<div class="r1">
<p class="c2">About</p>
<p class="c2">Services</p>
<p class="c2">Contact</p>

</div>
<div class="c1">
<a class="navbar-brand" href="#">
<img src="./assets/Alize Logo Final 1.png" alt="" width="117" height="66">
</a>
</div>
</div>
</nav>

<div class="container">
<div class="d1">Welcome to Alize Software Services LLP</div>  
      <p class="s1">At Alize Software Services LLP, we are dedicated to empowering businesses with cutting-edge technology solutions and digital strategies. With a relentless pursuit of excellence, we have established ourselves as a leading provider of a wide range of services, including Marketing Videos, Full Business Digital Packages, Mobile App Development, Process Automation Software, Enterprise Workflow Modules, HRMS, and Logistics Management Tools.</p>
      <div class="text-center">
      <img src="../assets/33756690_8104957 1.png" alt="Italian Trulli">
    </div>
    </div>
      <div class="container">
      <div class="d1">OUR MISSION</div>
      <div class="row justify-content-start">
        <div class="col-6">
          <p class="s2">Our mission is to transform businesses by harnessing the power of technology, while our vision is to be the driving force behind digital innovation, enabling organizations to thrive in the ever-evolving digital landscape.</p>
        </div>
        <div class="col-6">
          <img src="../assets/23673001_6770984 1.png" alt="Italian Trulli">
        </div>
            </div>        
              <div class="d1">SERVICES</div>
              <br/>
                      <div class="container">
                      <div class="row justify-content-start">
                      <div class="col-6">
                      <img class="f1" src="../assets/mikolaj-DCzpr09cTXY-unsplash.jpg" alt="Italian Trulli">
                      </div>
                      <div class="col-6">
                        <p class="s3">Our mission is to transform businesses by harnessing the power of technology, while our vision is to be the driving force behind digital innovation, enabling organizations to thrive in the ever-evolving digital landscape.</p>
                      </div>
                      </div>
                      <div class="row justify-content-start">
                      <div class="col-6">
                        <p class="s3">Our mission is to transform businesses by harnessing the power of technology, while our vision is to be the driving force behind digital innovation, enabling organizations to thrive in the ever-evolving digital landscape.</p>
                      </div>
                      <div class="col-6">
                      <img class="f1" src="../assets/rubaitul-azad-bKtF08f5C-Y-unsplash.jpg" alt="Italian Trulli">
                      </div>
                      </div>
                      <div class="row justify-content-start">
                      <div class="col-6">
                      <img class="f1" src="../assets/rubaitul-azad-GauA0hiEwDk-unsplash.jpg" alt="Italian Trulli"> 
                      </div>
                      <div class="col-6">
                        <p class="s3">Our mission is to transform businesses by harnessing the power of technology, while our vision is to be the driving force behind digital innovation, enabling organizations to thrive in the ever-evolving digital landscape.</p>  
                      </div>
                      </div>
                      <div class="row justify-content-start">
                      <div class="col-6">
                        <p class="s3">Our mission is to transform businesses by harnessing the power of technology, while our vision is to be the driving force behind digital innovation, enabling organizations to thrive in the ever-evolving digital landscape.</p>
                      </div>
                      <div class="col-6">
                      <img class="f1" src="../assets/desola-lanre-ologun-vII7qKAk-9A-unsplash.jpg" alt="Italian Trulli"> 
                      </div>
                      </div>
                      </div>

                      <div class="container1">
                        <form method="post" action="https://script.google.com/macros/s/AKfycby7fUmBNIHp9zDcDzJN5t8gyq6pWNB9BJFy1Ag1GoCiiYQDDZNuwIT4HGSY_TiPUBO9/exec" name="contact-form">
                        <h4>Contact Us</h4>
                        <input type="text" name="your-name" placeholder="Name">
                        <input type="text" name="your-number" placeholder="Number">
                        <input type="email" name="your-email" placeholder="Email">
                        <textarea name="message" rows="7" placeholder="Your Massage"></textarea>
                        <input type="submit" value="Submit" id="submit">
                        </form>
                        </div>

                        <p>Hello Hi</p>